//
// Demo App Styles
//

// We need the theming variables for the following styles.
@import "smui-theme";
// This adds classes like "mdc-theme--primary-bg".
@import "@material/theme/mdc-theme";
@import "@material/elevation/mixins";

// Now on to the regular app styling stuff.

html {
  height: 100vh;
  width: 100vw;
  position: fixed;
}

body, app {
  display: flex;
  flex-direction: column;
  height: 100%;
}